@use 'common';

.projects-main-header {
    position: fixed;
    top: 90vh; left: 6vw;
    font-size: 5vw;
    text-transform: uppercase;
    transform-origin: left;
    transform: rotate(-90deg);
}
.projects-container {
    background-color: var(--main-dark-color);
    min-height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    margin: 30px 0;
    width: 845px;
    background-color: var(--main-dark-color);
    margin-bottom: 50px;
    h2 {
        text-transform: uppercase;
        font-size: 45px;
        word-spacing: 5px;
        letter-spacing: 2px;
        padding: 10px 10px 10px 0;
        border-bottom: 2px solid var(--main-bg-color);
        color: var(--text-hover-color);
    }
    .project-info {
        padding-top: 40px;
        display: flex;

        video {
            object-fit: cover;
            height: 500px;
        }
        > div {
            margin-left: 60px;
            position: relative;

            p {
                padding-top: 20px;
                font-size: 19px;
                line-height: 1.5em;
                width: 100%;
            }
            p:first-of-type {
                padding-top: 0;
            }
        }
    }
    .project-info.image-horizontal {
        display: block;
        padding-top: 30px;

        > div {
            margin-left: 0px;
            padding-top: 20px;

            p {
                padding-top: 20px;
            }
        }
        img {
            height: 100%;
            width: 100%;
        }
        .project-links {
            position: static;
        }
    }
    .project-links {
        margin-top: 40px;
        position: absolute;
        bottom: 0;
        a {
            font-size: 20px;
            margin-right: 15px;
            display: inline-block;
            padding: 15px 20px;
            text-transform: uppercase;
            color: var(--main-text-color);
            text-decoration: none;
            
            svg {
                fill: var(--main-text-color);
                height: 40px;
                width: 40px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .projects-main-header {
        transform: none;
        position: static;
        font-size: 11vw;
        margin: 3vw;
        text-align: right;
    }

    .projects-container {
        min-height: calc(100vh - 15vw);
    }
    .project:first-of-type {
        margin-top: 2vw;
    }
    .project {
        margin: 5vw 0;
        width: 85vw;
        margin-bottom: 40px;
        h2 {
            font-size: 7vw;
            padding: 2vw 2vw 2vw 0;
        }
        .project-info {
            padding-top: 6vw;
            display: block;
    
            > div {
                margin-left: 0px;
                padding-top: 5vw;
    
                p {
                    padding-top: 3vw;
                    font-size: 3.7vw;
                    line-height: 1.7em;
                }
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .project-info.image-horizontal {
            padding-top: 6vw;
    
            > div {
                margin-left: 0px;
                padding-top: 5vw;
    
                p {
                    padding-top: 3vw;
                }
            }
        }
        .project-links {
            position: static;
            margin-top: 6vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                display: block;
                text-align: center;
                font-size: 4vw;
                width: 100%;
                margin: 1.5vw;
                padding: 4vw;
                
                svg {
                    fill: var(--main-text-color);
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 650px) {
    .projects-main-header {
        transform: none;
        position: static;
        font-size: 7vw;
        margin: 3vw;
        text-align: right;
    }
    .project:first-of-type {
        margin-top: 1.2vw;
    }
    .project {
        margin: 5vw 0;
        width: 320px;
        margin-bottom: 40px;
        h2 {
            font-size: 5.6vw;
            padding: 2vw 2vw 2vw 0;
        }
        .project-info {
            padding-top: 5vw;
            display: block;

            > div {
                margin-left: 0px;
                padding-top: 5vw;
    
                p {
                    padding-top: 3vw;
                    font-size: 2.6vw;
                    line-height: 1.7em;
                }
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .project-info.image-horizontal {
            padding-top: 6vw;
    
            > div {
                margin-left: 0px;
                padding-top: 5vw;
    
                p {
                    padding-top: 3vw;
                }
            }
        }
        .project-links {
            position: static;
            margin-top: 6vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                display: block;
                text-align: center;
                font-size: 3vw;
                width: 100%;
                margin: 1.5vw;
                padding: 3vw;
                
                svg {
                    fill: var(--main-text-color);
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

@media only screen and (min-width: 651px) and (max-width: 1050px) {
    .project {
        width: 70vw;

        .project-info {
            > div {
                margin-left: 5vw;    
                p {
                    font-size: 1.7vw;
                }
            }
        }
        .project-info.image-horizontal {
            .project-links {
                margin-top: 5vw;
                position: static;
                display: block;
                a {
                    width: initial;
                    margin: 0 2vw 0 0;
                    padding: 1.5vw 3.5vw;
                }
            }
        }
        .project-links {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            a {
                text-align: center;
                font-size: 1.8vw;
                width: 100%;
                margin: 0 0 1.5vw 0;
                padding: 1.5vw;
                
                svg {
                    fill: var(--main-text-color);
                    height: 40px;
                    width: 40px;
                }
            }
            a:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}