html {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  --main-dark-color: #2a272e;
  --main-bg-color: #807b85;
  --text-hover-color: #ff0080;
  --text-shadow-color: #3cf2ff;
  --light-grey-purple: #aeabb3;
  --text-color-white: #d7d1db;
  --container-shadow: 11px 17px 49px -4px rgba(0,0,0,0.6);
  /* --secondary-bg-color: #39383b; */
}
* ::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}
* ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
* ::-webkit-scrollbar-thumb {
  background: #9e99a3;
  border: 0px solid transparent;
  border-radius: 0px;
}
* ::-webkit-scrollbar-thumb:hover,
* ::-webkit-scrollbar-thumb:active {
  background: #aca8b1;
}
* ::-webkit-scrollbar-track {
  background: #5d5a5e;
  border: 0px none transparent;
  border-radius: 0px;
}
* ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  width: 100vw;
  color: #d7d1db;
  background: #2a272e;
  color: var(--text-color-white);
  background: var(--main-dark-color);
}

body, html {
  overflow: hidden;
  height: 100%;
}

.viewport {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.logo {
  letter-spacing: 2px;
  word-spacing: 6px;
}
.logo:hover {
  color: #ff0080;
  text-shadow: 3px 3px 0px #3cf2ff;
  color: var(--text-hover-color);
  text-shadow: 3px 3px 0px var(--text-shadow-color);
}

.flex-row-vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  z-index: 100;
  display: flex;
  height: 50px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #181518;
}
.nav button,
.nav a {
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 17px;
  padding: 0 20px;
  color: var(--text-color-white);
  text-transform: uppercase;
}
.nav button:hover,
.nav a:hover {
  color: #ff0080;
  text-shadow: 3px 3px 0px #3cf2ff;
  color: var(--text-hover-color);
  text-shadow: 3px 3px 0px var(--text-shadow-color);
}
.nav a.logo {
  font-size: 22px;
}
.nav button:hover,
.nav button:focus {
  cursor: pointer;
  outline: none;
}

.container-first {
  height: calc(100vh - 50px);
  width: 100vw;
}

.button-main {
  border: 1px solid #d7d1db;
  border: 1px solid var(--text-color-white);
}

.button-main:hover {
  background-color: #d7d1db;
  color: #2a272e !important;
  background-color: var(--text-color-white);
  color: var(--main-dark-color) !important;
}

.button-main:focus-within {
  outline: none;
  background-color: #ff0080;
  background-color: var(--text-hover-color);
  color: white !important;
  border: 1px solid #ff0080;
  border: 1px solid var(--text-hover-color);
  box-shadow: 0 0 0 0.15rem #2a272e, 0 0 0 0.25rem #3cf2ff;
  box-shadow: 0 0 0 0.15rem var(--main-dark-color), 0 0 0 0.25rem var(--text-shadow-color);
}

@media only screen and (max-width: 501px) {
  * ::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  .nav {
    height: 16vw;
  }
  .nav button,
.nav a {
    font-size: 3vw;
    padding: 0 2vw;
  }
  .nav a.logo {
    font-size: 3.7vw;
  }

  .container-first {
    height: calc(100vh - 16vw);
  }
}
@media only screen and (min-width: 500px) and (max-width: 650px) {
  .nav button,
.nav a {
    font-size: 2.5vw;
  }
  .nav a.logo {
    font-size: 3.4vw;
  }
}
.viewport {
  perspective: 8px;
}

.parallax-container {
  transform-style: preserve-3d;
}

.container-header {
  transform: scale(1.6);
  position: relative;
  background: radial-gradient(circle, #513052 0%, #4d294b 4%, #382337 12%, #2d222e 27%, var(--main-dark-color) 100%);
}

.lines-bg {
  height: 100%;
  width: 100vw;
}

.header-main {
  transform: translateZ(4px) scale(0.5);
  font-size: 100px;
  position: absolute;
  top: -1vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main h3 {
  position: absolute;
  transition: font-size 0.1s linear;
}
.header-main h3:hover {
  font-size: 130px;
  transition: font-size 0.1s linear;
}

.about-me-container {
  transform: translateZ(5px) scale(0.375);
  margin-top: -30vh;
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color);
}

.parallax-about-me-container {
  height: 100vh;
  width: 100vw;
  background: transparent;
  transform: translateZ(6px) scale(0.25);
  margin-top: -100vh;
}

.about-me-data-container {
  margin: 0 auto;
  display: flex;
  width: 885px;
  height: 520px;
  background-color: var(--main-dark-color);
  color: var(--text-color-white);
  -webkit-box-shadow: var(--container-shadow);
  -moz-box-shadow: var(--container-shadow);
  box-shadow: var(--container-shadow);
}

.profile-img {
  object-fit: cover;
  height: inherit;
}

.about-text {
  position: relative;
}
.about-text h3 {
  position: absolute;
  bottom: 5px;
  left: 45px;
  font-size: 47px;
  text-transform: uppercase;
  transform-origin: left;
  transform: rotate(-90deg);
}
.about-text p {
  font-size: 22px;
  line-height: 1.5em;
  margin: 40px 50px 30px 110px;
}

.github-icon {
  height: 40px;
  width: 40px;
  fill: var(--text-color-white);
  position: absolute;
  bottom: 30px;
  left: 110px;
}
.github-icon:hover {
  cursor: pointer;
  fill: var(--text-hover-color);
  filter: drop-shadow(3px 3px 0px var(--text-shadow-color));
}

.glitch {
  text-transform: uppercase;
  color: var(--text-color-white);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: var(--text-color-white);
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 2px;
  text-shadow: 3px 0 #105bb1;
  animation: glitch-effect 4s infinite linear alternate-reverse;
}
.glitch::after {
  left: 1px;
  text-shadow: -3px 0 var(--text-hover-color);
  animation: glitch-effect 3s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
  0% {
    clip: rect(105px, 9999px, 64px, 0);
  }
  4% {
    clip: rect(13px, 9999px, 87px, 0);
  }
  8% {
    clip: rect(61px, 9999px, 13px, 0);
  }
  12% {
    clip: rect(43px, 9999px, 28px, 0);
  }
  16% {
    clip: rect(105px, 9999px, 3px, 0);
  }
  20% {
    clip: rect(51px, 9999px, 104px, 0);
  }
  24% {
    clip: rect(55px, 9999px, 39px, 0);
  }
  28% {
    clip: rect(112px, 9999px, 42px, 0);
  }
  32% {
    clip: rect(85px, 9999px, 13px, 0);
  }
  36% {
    clip: rect(49px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 9px, 0);
  }
  44% {
    clip: rect(82px, 9999px, 65px, 0);
  }
  48% {
    clip: rect(53px, 9999px, 69px, 0);
  }
  52% {
    clip: rect(8px, 9999px, 102px, 0);
  }
  56% {
    clip: rect(107px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  64% {
    clip: rect(65px, 9999px, 62px, 0);
  }
  68% {
    clip: rect(54px, 9999px, 5px, 0);
  }
  72% {
    clip: rect(101px, 9999px, 111px, 0);
  }
  76% {
    clip: rect(98px, 9999px, 2px, 0);
  }
  80% {
    clip: rect(77px, 9999px, 32px, 0);
  }
  84% {
    clip: rect(60px, 9999px, 21px, 0);
  }
  88% {
    clip: rect(22px, 9999px, 68px, 0);
  }
  92% {
    clip: rect(102px, 9999px, 30px, 0);
  }
  96% {
    clip: rect(111px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(34px, 9999px, 83px, 0);
  }
}
@keyframes glitch-effect-mobile {
  0% {
    clip: rect(74px, 9999px, 25px, 0);
  }
  4% {
    clip: rect(39px, 9999px, 15px, 0);
  }
  8% {
    clip: rect(70px, 9999px, 67px, 0);
  }
  12% {
    clip: rect(129px, 9999px, 33px, 0);
  }
  16% {
    clip: rect(107px, 9999px, 13px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 88px, 0);
  }
  24% {
    clip: rect(121px, 9999px, 7px, 0);
  }
  28% {
    clip: rect(49px, 9999px, 111px, 0);
  }
  32% {
    clip: rect(56px, 9999px, 16px, 0);
  }
  36% {
    clip: rect(123px, 9999px, 86px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 88px, 0);
  }
  44% {
    clip: rect(70px, 9999px, 118px, 0);
  }
  48% {
    clip: rect(106px, 9999px, 40px, 0);
  }
  52% {
    clip: rect(71px, 9999px, 129px, 0);
  }
  56% {
    clip: rect(39px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 81px, 0);
  }
  64% {
    clip: rect(53px, 9999px, 116px, 0);
  }
  68% {
    clip: rect(92px, 9999px, 35px, 0);
  }
  72% {
    clip: rect(18px, 9999px, 91px, 0);
  }
  76% {
    clip: rect(15px, 9999px, 106px, 0);
  }
  80% {
    clip: rect(106px, 9999px, 66px, 0);
  }
  84% {
    clip: rect(13px, 9999px, 66px, 0);
  }
  88% {
    clip: rect(52px, 9999px, 85px, 0);
  }
  92% {
    clip: rect(66px, 9999px, 125px, 0);
  }
  96% {
    clip: rect(14px, 9999px, 112px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 125px, 0);
  }
}
.dash-long {
  stroke-dasharray: 122;
}

.dash-medium {
  stroke-dasharray: 90;
}

.dash-medium-long {
  stroke-dasharray: 67;
}

.dash-short {
  stroke-dasharray: 37;
}

.dash-animation {
  animation: line-move 6s linear;
  animation-iteration-count: infinite;
}

@keyframes line-move {
  to {
    stroke-dashoffset: 2000;
  }
}
@media only screen and (max-width: 500px) {
  .header-main {
    font-size: 13vw;
    top: -1vh;
    left: 10px;
  }
  .header-main h3:hover {
    font-size: 15vw;
  }

  .about-me-container {
    transform: translateZ(4px) scale(0.5);
    margin-top: 0vh;
    height: 100vh;
  }

  .parallax-about-me-container {
    transform: translateZ(5px) scale(0.375);
    height: 100vh;
    margin-top: -104vh;
  }

  .about-me-data-container {
    margin: 0 auto;
    margin-top: -22vw;
    width: 85vw;
    height: 42vh;
    display: block;
  }

  .profile-img {
    object-fit: cover;
    width: inherit;
  }

  .about-text {
    background: var(--main-dark-color);
    padding: 3vh;
  }
  .about-text h3 {
    position: static;
    font-size: 5.5vw;
    margin-bottom: 2vh;
    text-transform: uppercase;
    transform: none;
  }
  .about-text p {
    font-size: 3.6vw;
    line-height: 1.5em;
    margin: 0 0 2vh 0;
  }

  .github-icon {
    height: 30px;
    width: 30px;
    fill: var(--text-color-white);
    position: static;
  }

  .glitch::before {
    left: 2px;
    text-shadow: 3px 0 #105bb1;
    animation: glitch-effect-mobile 4s infinite linear alternate-reverse;
  }
  .glitch::after {
    left: 1px;
    text-shadow: -3px 0 var(--text-hover-color);
    animation: glitch-effect-mobile 3s infinite linear alternate-reverse;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .header-main {
    font-size: 9vw;
  }
  .header-main h3:hover {
    font-size: 11vw;
  }

  .about-me-data-container {
    width: 80vw;
    height: 50vw;
  }

  .profile-img {
    object-fit: cover;
    width: 40%;
  }

  .about-text {
    background: var(--main-dark-color);
    padding: 5vw;
  }
  .about-text h3 {
    position: static;
    font-size: 3.5vw;
    margin-bottom: 2vh;
    text-transform: uppercase;
    transform: none;
  }
  .about-text p {
    font-size: 2vw;
    line-height: 1.5em;
    margin: 0 0 2vh 0;
  }

  .github-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 30px;
    left: 40px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .about-me-data-container {
    width: 70vw;
    height: 40vw;
  }

  .profile-img {
    object-fit: cover;
    width: 40%;
  }

  .about-text {
    padding: 50px;
  }
  .about-text h3 {
    position: static;
    font-size: 3vw;
    margin-bottom: 2vh;
    text-transform: uppercase;
    transform: none;
  }
  .about-text p {
    font-size: 1.7vw;
    line-height: 1.5em;
    margin: 0 0 2vh 0;
  }

  .github-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 30px;
    left: 40px;
  }
}

/*# sourceMappingURL=home.css.map */
